# AWS
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=eu-west-1
S3_BUCKET_NAME=your-learning-bucket-name

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=sensor_pipeline

# Pipeline behavior
BATCH_SIZE=100